@charset "utf-8";

div.row {
    clear: both;
}

div.row::after {
    clear: both;
    content: "";
    display: table;
}

div[class^="column-"] {
    float: left;
}

div.column-1-2 {
    width: 50%;
}

div.column-1-3 {
    width: 33.33%;
}

div.column-2-3 {
    width: 66.67%;
}

div {
    outline: 1px solid red;
}

