@charset "utf-8";

body {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    min-width: 640px;
    width: 95%;
}

body > header > img {
    display: block;
    width: 100%;
}

body > header > nav.horizontalNavigation li {
    width: 20%;
}

nav.horizontalNavigation li {
    display: block;
    float: left;
}

nav.horizontalNavigation a {
    display: block;
    text-align: center;
}

section#leftColumn {
    clear: left;
    float: left;
    width: 33%;
    padding: 1.5em;
}

section#rightColumn {
    float: left;
    width: 67%;
}

section#rightColumn img {
    display: block;
    width: 100%;
}

section#rightColumn > nav.horizontalNavigation li {
    width: 25%;
}

footer {
    clear: left;
    background-color: rgb(71, 52, 29);
}

nav.verticalNavigation {
    float: left;
    width: 22%;
}

section#contactInfo {
    float: left;
    width: 34%;
}

footer::after {
    clear: both;
    content: "";
    display: table;
}
